/*--------------------------------------------------*/
/*--HEADER--*/

header{

    @media screen and (min-height: 500px){
        height: 100vh;
    }
    background: $background-overlay, url(img/header.png);
    @include background;
    
        @include flex-box($flex-direction:column, $align-items:center);
}   

.main-nav{
    @include flex-box($justify-content:space-between, $align-items:center);
    width: 100%;
    padding: 10px 0;

    &__logo{
        @include flex-box($align-items:center);
        text-decoration: none;
        & h2{
            margin-left: 10px;
            font-family: $font-family-primary;
            font-weight: $font-weight-thin;
            font-size: $header-logo-font-size;
            color: $blue-primary;
        }

        @media screen and (max-width: 800px){
            transform: scale(0.7);
         }
    }

    &__menu{
        list-style: none;

        @media screen and (max-width: 767px){
               display: none;
        }

        @media screen and (max-width: 970px){
                margin-right: 15px;
        }

        &__items{
            display: inline-block;
            margin-left: 25px;

            @media screen and (max-width: 970px){
                margin-left: 15px;
            }

            &:first-of-type{
                margin: 0;
            }

            & a{
                text-decoration: none;
                color: $header-text-color;
                font-size: $main-nav-list-font-size;
                font-weight: $font-weight-black;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    color: $blue-primary;
                }
            }
        }
    }


    & .small-screen-menu{
        position: relative;
        margin-top: -35px;
        @media screen and (min-width: 768px){
               display: none;
        }

        @media screen and (max-width: 970px){
                margin-right: 40px;
        }

        & i{
            color: $smal-screen-menu-icons-color;
            font-size: $smal-screen-menu-icons-font-size;
            position: absolute;
            transition: .3s;
            cursor: pointer;

            @media screen and (max-width: 767px){
               &:last-child{
                   display: none;
               }
            }

            &:hover,&:active{
                color: $blue-primary;
            }
        }
    }
}

.header-title{
    color: $header-title-color;
    font-family: $font-family-secondary;
    font-weight: $font-weight-black;
    font-size: $header-title-font-size;
    text-align: center;
    @include margin(180px, 0, 27px, 0);
    position: relative;

    @media screen and (max-height: 500px){
        margin-top: 15vh;
    }

    @media screen and (max-width: 510px){
        font-size: $header-title-break-font-size;
        margin-top: 70px;
    }
}

.line{
    margin-bottom: 27px;
}

.header-info{
    text-align: center;
    width: 90%;
    color: $header-text-color;
    font-family: $font-family-primary;
    font-size: $header-info-font-size;
    font-weight: $font-weight-light;
    line-height: 150%;
    margin-bottom: 55px;

    @media screen and (max-width: 510px){
        font-size: $header-info-break-font-size;
    }
}

.learn-more-button{
    margin-bottom: 55px;
}


.sticky-menu{
    background-color: $sticky-menu-background-color;
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 1px 8px 0px rgba(119,119,119,1);
    margin-top: 0;
    padding: 10px 7px;

    & > * {
        margin-top: 0;
    }

    & > div{
        margin-top: -20px;
    }
}
