/*--------------------------------------------------*/
/*--HEADER--*/

header{
    height: 100vh;
    background: $background-overlay, url(../scss/components/img/header.png);
    @include background;
    & > .row{
        @include flex-box($flex-direction:column, $align-items:center);
    }
}   

.main-nav{
    @include flex-box($justify-content:space-between);
    width: 940px;

    &__logo{
        @include flex-box($align-items:center);
        margin-top: 14px;
        text-decoration: none;
        & h2{
            margin-left: 10px;
            font-family: $font-family-primary;
            font-weight: $font-weight-thin;
            font-size: $header-logo-font-size;
            color: $header-blue-primary;
        }
    }

    &__menu{
        list-style: none;
        margin-top: 28px;
        &__items{
            display: inline-block;
            margin-left: 25px;

            &:first-of-type{
                margin: 0;
            }

            & a{
                text-decoration: none;
                color: $header-text-color;
                font-size: $main-nav-list-font-size;
                font-weight: $font-weight-black;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    color: $header-blue-primary;
                }
            }
        }
    }
}

.header-title{
    color: $header-text-color;
    font-family: $font-family-secondary;
    font-weight: $font-weight-black;
    font-size: $header-title-font-size;
    padding-bottom: 40px;
    @include margin(180px, 0, 40px, 0);
    position: relative;
    
    &:after{
        content: "";
        width: 55px;
        height: 3px;
        @include margin(0, auto, 0, auto);
        background: $header-blue-primary;
        position: absolute;
        top: 100%;
        left: 207px;
    }
}

.header-info{
    text-align: center;
    width: 780px;
    color: $header-text-color;
    font-family: $font-family-primary;
    font-size: $header-info-font-size;
    font-weight: $font-weight-light;
    line-height: 150%;
    margin-bottom: 80px;
}

.learn-more-button{
    text-decoration: none;
    color: $header-blue-primary;
    font-size: $header-button-font-size;
    font-weight: $font-weight-regular;
    padding: 7px;
    transition: .3s, background-color 0s;
    @include border(2px, solid, $header-blue-primary);

   &:hover{
       background-color: $header-blue-primary;
       color: $header-text-color;
       transform: scale(1.1);
   }
}