/*--------------------------------------------------*/
/*--REUSABLE--*/
.grey-light{
    background-color: $grey-light-line-color;
}

.blue{
    background: $blue-primary;
}

.grey{
    background: $grey-line-color;
}

.line{
    width: 55px;
    height: 3px;
    margin: 0 auto;
}

.big{
    max-width: 940px;
    height: 1px;
}

.title{
    color: $title-color;
    font-size: $title-font-size;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
}

button{
    outline: none;
    background: transparent;
}

.button{
    text-decoration: none;
    color: $blue-primary;
    font-size: $learn-button-font-size;
    font-weight: $font-weight-regular;
    padding: 9px 12px;
    transition: .3s, background-color 0s;
    @include border(2px, solid, $blue-primary);

&:hover,&:active{
       background-color: $blue-primary;
       color: $header-text-color;
       transform: scale(1.1);
   }
}